USE [Market]
GO
/****** Object:  Table [dbo].[TM_CATEGORIA]    Script Date: 23/03/2023 22:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_CATEGORIA](
	[CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[CAT_NOM] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_CLIENTE]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_CLIENTE](
	[CLI_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[CLI_NOM] [varchar](150) NULL,
	[CLI_NIT] [varchar](50) NULL,
	[CLI_TEL] [varchar](50) NULL,
	[CLI_DIRECC] [varchar](150) NULL,
	[CLI_CORREO] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_COMPANIA]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_COMPANIA](
	[COM_ID] [int] IDENTITY(1,1) NOT NULL,
	[COM_NOMBRE] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_COMPANIA] PRIMARY KEY CLUSTERED 
(
	[COM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_EMPRESA]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_EMPRESA](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[COM_ID] [int] NULL,
	[EMP_NOM] [varchar](150) NULL,
	[EMP_NIT] [varchar](50) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_MONEDA]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_MONEDA](
	[MON_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[MON_NOM] [varchar](50) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_MONEDA] PRIMARY KEY CLUSTERED 
(
	[MON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_PRODUCTO]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_PRODUCTO](
	[PROD_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[CAT_ID] [int] NULL,
	[PROD_NOM] [varchar](150) NULL,
	[PROD_DESC] [varchar](150) NULL,
	[UND_ID] [int] NULL,
	[MON_ID] [int] NULL,
	[PROD_PCOMPRA] [numeric](18, 2) NULL,
	[PROD_PVENTA] [numeric](18, 2) NULL,
	[PROD_STOCK] [int] NULL,
	[PROD_FECHAVEN] [date] NULL,
	[PROD_IMG] [varchar](max) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_PROVEEDOR]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_PROVEEDOR](
	[PROP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[PROV_NOM] [varchar](150) NULL,
	[PROV_NIT] [int] NULL,
	[PROV_TEL] [varchar](50) NULL,
	[PROV_DIRECC] [varchar](150) NULL,
	[PROV_CORREO] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[PROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_ROL]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_ROL](
	[ROL_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[ROL_NOM] [nvarchar](50) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_ROL] PRIMARY KEY CLUSTERED 
(
	[ROL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_SUCURSAL]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_SUCURSAL](
	[SUC_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[SUC_NOM] [varchar](50) NULL,
	[FECH_CREA] [datetime] NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_TM_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[SUC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_UNIDAD]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_UNIDAD](
	[UND_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[UND_NOM] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_UNIDAD] PRIMARY KEY CLUSTERED 
(
	[UND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_USUARIO]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_USUARIO](
	[USU_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[USU_CORREO] [varchar](150) NULL,
	[USU_NOM] [varchar](150) NULL,
	[USU_APE] [varchar](150) NULL,
	[USU_DPI] [varchar](50) NULL,
	[USU_TELEFONO] [varchar](50) NULL,
	[USU_PASS] [varchar](50) NULL,
	[ROL_ID] [int] NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TM_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_COMPANIA] FOREIGN KEY([COM_ID])
REFERENCES [dbo].[TM_COMPANIA] ([COM_ID])
GO
ALTER TABLE [dbo].[TM_EMPRESA] CHECK CONSTRAINT [FK_EMPRESA_COMPANIA]
GO
ALTER TABLE [dbo].[TM_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_TM_SUCURSAL_EMPRESA] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[TM_EMPRESA] ([EMP_ID])
GO
ALTER TABLE [dbo].[TM_SUCURSAL] CHECK CONSTRAINT [FK_TM_SUCURSAL_EMPRESA]
GO
ALTER TABLE [dbo].[TM_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_TM_USUARIO_TM_SUCURSAL] FOREIGN KEY([SUC_ID])
REFERENCES [dbo].[TM_SUCURSAL] ([SUC_ID])
GO
ALTER TABLE [dbo].[TM_USUARIO] CHECK CONSTRAINT [FK_TM_USUARIO_TM_SUCURSAL]
GO
/****** Object:  StoredProcedure [dbo].[SP_D_CATEGORIA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ELIMINAR REGISTRO 
CREATE PROCEDURE [dbo].[SP_D_CATEGORIA_01]
@CAT_ID INT
AS
BEGIN
	UPDATE TM_CATEGORIA
	SET
		EST=0
	WHERE 
	CAT_ID = @CAT_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_COMPANIA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ELIMINAR REGISTRO 
CREATE PROCEDURE [dbo].[SP_D_COMPANIA_01]
@COM_ID INT
AS
BEGIN
	UPDATE TM_COMPANIA
	SET
		EST=0
	WHERE 
	COM_ID = @COM_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_EMPRESA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ELIMINAR REGISTRO 
CREATE PROCEDURE [dbo].[SP_D_EMPRESA_01]
@EMP_ID INT
AS
BEGIN
	UPDATE TM_EMPRESA
	SET
		EST=0
	WHERE 
	EMP_ID = @EMP_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_MONEDA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ELIMINAR REGISTRO 
CREATE PROCEDURE [dbo].[SP_D_MONEDA_01]
@MON_ID INT
AS
BEGIN
	UPDATE TM_MONEDA
	SET
		EST=0
	WHERE 
	MON_ID = @MON_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_PRODUCTO_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ELIMINAR REGISTRO 
CREATE PROCEDURE [dbo].[SP_D_PRODUCTO_01]
@PROD_ID INT
AS
BEGIN
	UPDATE TM_PRODUCTO
	SET
		EST=0
	WHERE 
	PROD_ID = @PROD_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_ROL_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ELIMINAR REGISTRO 
CREATE PROCEDURE [dbo].[SP_D_ROL_01]
@ROL_ID INT
AS
BEGIN
	UPDATE TM_ROL
	SET
		EST=0
	WHERE 
	ROL_ID = @ROL_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_SUCURSAL_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_SUCURSAL_01]
@SUC_ID INT
AS
BEGIN
	UPDATE TM_SUCURSAL
	SET
		ESTADO= 0
	WHERE
		SUC_ID = @SUC_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_UNIDAD_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ELIMINAR REGISTRO 
CREATE PROCEDURE [dbo].[SP_D_UNIDAD_01]
@UND_ID INT
AS
BEGIN
	UPDATE TM_UNIDAD
	SET
		EST=0
	WHERE 
	UND_ID = @UND_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_CATEGORIA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_I_CATEGORIA_01]
@SUC_ID INT,
@CAT_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_CATEGORIA
	(SUC_ID,CAT_NOM,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@CAT_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_COMPANIA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_COMPANIA_01]
@COM_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_COMPANIA
	(COM_NOM,FECH_CREA,EST)
	VALUES
	(@COM_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_EMPRESA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_EMPRESA_01]
@COM_ID INT,
@EMP_NOM VARCHAR(150),
@EMP_NIT VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_EMPRESA
	(EMP_NOM,EMP_NIT,FECH_CREA,EST)
	VALUES
	(@EMP_NOM,@COM_ID,GETDATE(),1)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_I_MONEDA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_MONEDA_01]
@SUC_ID INT,
@MON_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_MONEDA
	(SUC_ID,MON_NOM,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@MON_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_PRODUCTO_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_PRODUCTO_01]
@SUC_ID INT,
@CAT_ID INT,
@PROD_NOM VARCHAR(150),
@PROD_DESC VARCHAR(150),
@UND_ID INT,
@MON_ID INT,
@PROD_PCOMPRA NUMERIC (18,2),
@PROD_PVENTA NUMERIC (18,2),
@PROD_STOCK INT,
@PROD_FECHAVEN DATE,
@PROD_IMG VARCHAR(MAX)
AS
BEGIN
	INSERT INTO TM_PRODUCTO
	(SUC_ID,CAT_ID,PROD_NOM,PROD_DESC,UND_ID,MON_ID,PROD_PCOMPRA,PROD_PVENTA,PROD_STOCK,PROD_FECHAVEN,PROD_IMG,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@CAT_ID,@PROD_NOM,@PROD_DESC,@UND_ID,@MON_ID,@PROD_PCOMPRA,@PROD_PVENTA,@PROD_STOCK,@PROD_FECHAVEN,@PROD_IMG,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_ROL_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_ROL_01]
@SUC_ID INT,
@ROL_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_ROL
	(SUC_ID,ROL_NOM,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@ROL_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_SUCURSAL_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_SUCURSAL_01]
@EMP_ID INT,
@SUC_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_SUCURSAL
	(EMP_ID,SUC_NOM,FECH_CREA,ESTADO)
	VALUES
	(@EMP_ID,@SUC_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_UNIDAD_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_UNIDAD_01]
@SUC_ID INT,
@UND_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_UNIDAD
	(SUC_ID,UND_NOM,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@UND_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_CATEGORIA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LISTAR TODAS LAS CATEGORIAS POR SUCURSAL
CREATE PROCEDURE [dbo].[SP_L_CATEGORIA_01]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_CATEGORIA
	WHERE 
	SUC_ID = @SUC_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_CATEGORIA_02]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--OBTENER REGISTRO POR ID
CREATE PROCEDURE [dbo].[SP_L_CATEGORIA_02]
@CAT_ID INT
AS
BEGIN
	SELECT * FROM TM_CATEGORIA
	WHERE 
	CAT_ID = @CAT_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_COMPANIA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LISTAR TODAS LAS COMPANIAS POR SUCURSAL
CREATE PROCEDURE [dbo].[SP_L_COMPANIA_01]
AS
BEGIN
	SELECT * FROM TM_COMPANIA
	WHERE 
	EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_COMPANIA_02]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--OBTENER REGISTRO POR ID
CREATE PROCEDURE [dbo].[SP_L_COMPANIA_02]
@COM_ID INT
AS
BEGIN
	SELECT * FROM TM_COMPANIA
	WHERE 
	COM_ID = @COM_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_EMPRESA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LISTAR TODAS LAS EMPRESAS POR SUCURSAL
CREATE PROCEDURE [dbo].[SP_L_EMPRESA_01]
@COM_ID INT
AS
BEGIN
	SELECT * FROM TM_EMPRESA
	WHERE 
	COM_ID = @COM_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_EMPRESA_02]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--OBTENER REGISTRO POR ID
CREATE PROCEDURE [dbo].[SP_L_EMPRESA_02]
@EMP_ID INT
AS
BEGIN
	SELECT * FROM TM_EMPRESA
	WHERE 
	EMP_ID = @EMP_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_MONEDA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LISTAR TODAS LAS CATEGORIAS POR SUCURSAL
CREATE PROCEDURE [dbo].[SP_L_MONEDA_01]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_CATEGORIA
	WHERE 
	SUC_ID = @SUC_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_MONEDA_02]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--OBTENER REGISTRO POR ID
CREATE PROCEDURE [dbo].[SP_L_MONEDA_02]
@MON_ID INT
AS
BEGIN
	SELECT * FROM TM_MONEDA
	WHERE 
	MON_ID = @MON_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_PRODUCTO_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LISTAR TODAS LAS PRODUCTOS POR SUCURSAL
CREATE PROCEDURE [dbo].[SP_L_PRODUCTO_01]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_PRODUCTO
	WHERE 
	SUC_ID = @SUC_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_PRODUCTO_02]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--OBTENER REGISTRO POR ID
CREATE PROCEDURE [dbo].[SP_L_PRODUCTO_02]
@PROD_ID INT
AS
BEGIN
	SELECT * FROM TM_PRODUCTO
	WHERE 
	PROD_ID = @PROD_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_ROL_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LISTAR TODAS LAS ROLS POR SUCURSAL
CREATE PROCEDURE [dbo].[SP_L_ROL_01]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_ROL
	WHERE 
	SUC_ID = @SUC_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_ROL_02]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--OBTENER REGISTRO POR ID
CREATE PROCEDURE [dbo].[SP_L_ROL_02]
@ROL_ID INT
AS
BEGIN
	SELECT * FROM TM_ROL
	WHERE 
	ROL_ID = @ROL_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_SUCURSAL_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Listar todos los registros por Sucursal
CREATE PROCEDURE [dbo].[SP_L_SUCURSAL_01]
@EMP_ID INT
AS
BEGIN
	SELECT * FROM TM_SUCURSAL
	WHERE
	EMP_ID = @EMP_ID
	AND ESTADO=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_SUCURSAL_02]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_SUCURSAL_02]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_SUCURSAL
	WHERE
	SUC_ID = @SUC_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_UNIDAD_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--LISTAR TODAS LAS UNIDADS POR SUCURSAL
CREATE PROCEDURE [dbo].[SP_L_UNIDAD_01]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_UNIDAD
	WHERE 
	SUC_ID = @SUC_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_UNIDAD_02]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--OBTENER REGISTRO POR ID
CREATE PROCEDURE [dbo].[SP_L_UNIDAD_02]
@UND_ID INT
AS
BEGIN
	SELECT * FROM TM_UNIDAD
	WHERE 
	UND_ID = @UND_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_USUARIO_03]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_L_USUARIO_03]
@SUC_ID INT,
@USU_CORREO VARCHAR(50),
@USU_PASS VARCHAR (30)
AS
BEGIN
	SELECT       
	TM_USUARIO.USU_ID,
	TM_USUARIO.SUC_ID, 
	TM_USUARIO.USU_CORREO,
	TM_USUARIO.USU_NOM, 
	TM_USUARIO.USU_APE,
	TM_USUARIO.USU_DPI,
	TM_USUARIO.USU_TELEFONO,
	TM_USUARIO.USU_PASS,
	TM_USUARIO.ROL_ID, 
	TM_SUCURSAL.EMP_ID, 
	TM_SUCURSAL.SUC_NOM, 
	TM_EMPRESA.COM_ID, 
	TM_EMPRESA.EMP_NOM,
	TM_EMPRESA.EMP_NIT, 
	TM_COMPANIA.COM_NOMBRE
	FROM           
	TM_USUARIO INNER JOIN
	TM_SUCURSAL ON TM_USUARIO.SUC_ID = TM_SUCURSAL.SUC_ID INNER JOIN
	TM_EMPRESA ON TM_SUCURSAL.EMP_ID = TM_EMPRESA.EMP_ID INNER JOIN
	TM_COMPANIA ON TM_EMPRESA.COM_ID = TM_COMPANIA.COM_ID
	WHERE
	TM_USUARIO.SUC_ID = @SUC_ID
	AND TM_USUARIO.USU_CORREO = @USU_CORREO
	AND TM_USUARIO.USU_PASS = @USU_PASS
	AND TM_USUARIO.EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_COMPANIA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_COMPANIA_01]
@COM_ID INT,
@COM_NOM VARCHAR(150)

AS
BEGIN
	UPDATE TM_COMPANIA	
	SET
	COM_NOM = @COM_NOM
	WHERE
	COM_ID = @COM_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_EMPRESA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_EMPRESA_01]
@EMP_ID INT,
@COM_ID INT,
@EMP_NOM VARCHAR(150),
@EMP_NIT VARCHAR(150)

AS
BEGIN
	UPDATE TM_EMPRESA	
	SET
	EMP_NOM = @EMP_NOM,
	EMP_NIT = @EMP_NIT
	WHERE
	EMP_ID = @EMP_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_MONEDA_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_MONEDA_01]
@MON_ID INT,
@SUC_ID INT,
@MON_NOM VARCHAR(150)

AS
BEGIN
	UPDATE TM_MONEDA	
	SET
	SUC_ID = @SUC_ID,
	MON_NOM = @MON_NOM
	WHERE
	MON_ID = @MON_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_PRODUCTO_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_PRODUCTO_01]
@PROD_ID INT,
@SUC_ID INT,
@CAT_ID INT,
@PROD_NOM VARCHAR(150),
@PROD_DESC VARCHAR(150),
@UND_ID INT,
@MON_ID INT,
@PROD_PCOMPRA NUMERIC (18,2),
@PROD_PVENTA NUMERIC (18,2),
@PROD_STOCK INT,
@PROD_FECHAVEN DATE,
@PROD_IMG VARCHAR(MAX)
AS
BEGIN
	UPDATE TM_PRODUCTO	
	SET
	SUC_ID = @SUC_ID,
	CAT_ID =@CAT_ID,
	PROD_NOM = @PROD_NOM,
	PROD_DESC = @PROD_DESC,
	UND_ID = @UND_ID,
	MON_ID = @MON_ID,
	PROD_PCOMPRA = @PROD_PCOMPRA,
	PROD_PVENTA = @PROD_PVENTA,
	PROD_STOCK = @PROD_STOCK,
	PROD_FECHAVEN = @PROD_FECHAVEN,
	PROD_IMG = @PROD_IMG

	WHERE
	PROD_ID = @PROD_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_ROL_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_ROL_01]
@ROL_ID INT,
@SUC_ID INT,
@ROL_NOM VARCHAR(150)

AS
BEGIN
	UPDATE TM_ROL	
	SET
	SUC_ID = @SUC_ID,
	ROL_NOM = @ROL_NOM
	WHERE
	ROL_ID = @ROL_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_SUCURSAL_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_SUCURSAL_01]
@SUC_ID INT,
@EMP_ID INT,
@SUC_NOM VARCHAR(150)
AS
BEGIN
	UPDATE TM_SUCURSAL
	SET
		EMP_ID = @EMP_ID,
		SUC_NOM = @SUC_NOM
	WHERE
		SUC_ID = @SUC_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_UNIDAD_01]    Script Date: 23/03/2023 22:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_UNIDAD_01]
@UND_ID INT,
@SUC_ID INT,
@UND_NOM VARCHAR(150)

AS
BEGIN
	UPDATE TM_UNIDAD	
	SET
	SUC_ID = @SUC_ID,
	UND_NOM = @UND_NOM
	WHERE
	UND_ID = @UND_ID
END
GO
